/* ---->>> THIS IS FOR THE PROFILE ICON  */
.profile-container {
    border-radius: 50%;
    outline: none;
    border: none;
}

.profile-container img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: none;
}

.profile {
    background-color: aqua;
    color: rgb(1, 1, 49);
    width: 190px;
    height: 220px;
    list-style-type: none;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.profile .prof1 {
    margin: 20px;
}

.profile .prof1:hover {
    color: whitesmoke;
}

.exitbutton {
    background-color: #ff0000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

#profile-content {
    position: relative;
    margin-top: -100px;
}

.profile-container {
    position: absolute;
    top: 20px;
    right: 20px;
   
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-pic {
    position: fixed;
    top: 0;
    right: 80px;
    width: 250px;
    height: 100%;
    transition: right 0.3s;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border: 1px transparent #ccc;
    display: none;
    margin-top: 30px;
}

.profile-toggle:checked + .profile-container + .profile-pic {
    display: block;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide the checkbox */
.menu-toggle,
.profile-toggle {
    display: none;
}

/* Menu Styles */
.menu {
    display: none;
}

.menu-toggle:checked + .menu-button + .menu {
    display: block;
}


/*  >>>>>>*/