body {
    font-family: Arial, sans-serif;
    background-color: #335c77;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form h2{
    color: #559ccc;
    text-align: center;
    font-family: sans-serif;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #335c77;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: rebeccapurple;
}

input[type="submit"] {
    background-color: #335c77;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2b4a5f;
}
